* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-size: 14px;
}

button,
input {
  &:focus {
    outline: none;
  }
}

h2 {
  font-size: 30px;
  color: darkcyan;
}

